
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="resume">
      <ion-icon class="bhd-icon icon-config-resume"></ion-icon>
      <ion-label>Mis productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon class="bhd-icon icon-transactions"></ion-icon>
      <ion-label>Transacciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers">
      <ion-icon class="bhd-icon icon-offers"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests">
      <div class="icon-tab">
        <img
        src="/assets/icon/icon_requests.svg"
        alt="icon"
      />
      </div>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

